/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template/scrolling-nav)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 156px 0 100px;
}

headline {
  padding: 0px;
}

h1 {
  padding: 10px;
}

section {
  padding: 60px 0;
  margin-top: 10px;
}

.slider {
  width: 100% !important;
}

body {
  font-family: 'Helvetica Neue', sans-serif !important;
}

.slider.slider-horizontal{
  width:400px;
}